:root {
	--color: #000;
	--text-color: #000;
	--bg-color: #fff;
}
body {
	background-color: var(--bg-color);
	height: 100vh;
	display: flex;
	margin: 0;
	transition: 0.5s;
}
.btn-bg {
	position: relative;
	background-color: var(--color);
	height: 100px;
	width: 200px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	transition: 0.5s;
	box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.033),
		5px 5px 10px rgba(0, 0, 0, 0.066);
}
.btn-img {
	position: absolute;
	height: 90%;
	width: auto;
	transform: translate(0%) rotate(0deg);
	transition: 0.5s;
	margin: 2.5%;
}
img {
	height: 100%;
	user-select: none;
	-webkit-user-select: none;
}
